<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/authStyle.css}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Anta&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <h2>Login</h2>
        <form th:action="@{/login}" method="post">
          <div class="input-box">
            <input type="email" name="username" id="username" required />
            <label>Email</label>
          </div>
          <div class="input-box">
            <input type="password" name="password" id="password" required />
            <label>Password</label>
          </div>
          <div class="forgot-pass">
            <a href="#">Forgot your password?</a>
          </div>
          <button type="submit" class="btn">Login</button>
          <div class="signup-link">
            <a href="#">Signup</a>
          </div>
        </form>
      </div>
      <span
        th:each="i: ${#numbers.sequence(0, 49)}"
        th:style="'--i:' + ${i}"
      ></span>
    </div>
  </body>
</html>
