<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/homepageStyle.css}" />

</head>
<body>


    <section>
        <div class="parallax"></div>

        <div class="box">
        
                <div class="hero">
                    <h1>Challenge Your Coding Skills</h1>
                    <p>Join our community of coders and take on real-world coding challenges.</p>
                </div>
                
                <hr style="border: 3px solid #138913;">
    
                <div class="introduction">
                    <h2>Welcome to SolVer</h2>
    
                    <p>Our platform offers a wide range of coding problems and competitive programming contests to help you improve your skills and showcase your talent.</p>
                </div>
                
                <hr style="border: 3px solid #138913;">
    
                <div class="contests">
                    <h2>Upcoming Contests</h2>
                    <br>
                    <ul>
                        <li><a href="/contest/1">Contest 1: Beginner's Challenge - May 25, 2024</a></li>
                        <li><a href="/contest/2">Contest 2: Algorithm Masters - June 10, 2024</a></li>
                    </ul>
                </div>
    
                <hr style="border: 3px solid #138913;">
                
                <div class="getting-started">
                    <h2>How It Works</h2>
                    <br>
                    <ol >
                        <li>1.Login for an account.</li>
                        <li>2.Browse through our list of problems.</li>
                        <li>3.Solve a problem and submit your solution.</li>
                        <li>4.Get instant feedback and improve your code.</li>
                    </ol>
                
            </div>
            
        </div>

        <footer>
            <ul>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/terms">Terms of Service</a></li>
            </ul>
            <p>Follow us on:
                <a href="https://facebook.com/onlinejudge">Facebook</a>
            </p>
        
        </footer>

    </section>
</body>
</html>
