<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}" />
  </head>
  <body>
    <header>
      <div>
        <img src="/img/SolVerLogo.png" class="logo" width="150" height="80" />
      </div>
      <nav>
        <ul>
          <li><a th:href="@{/home}">Home</a></li>
          <li><a th:href="@{/problem}" >Problem List</a></li>
          <li><a th:href="@{/problem/addProblem}">Add problem</a></li>
          <li><a th:href="@{/submission/list}">Submission list</a></li>

        </ul>
      </nav>
      <a href="/logout" class="login-button">Logout</a>
    </header>
    <div class="content">
      <div th:replace="${pageContent}"></div>
    </div>
  </body>
</html>
