<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="signup-box">
        <h2>Sign Up</h2>
        <form action="#">
          <div class="input-box">
            <input type="text" required />
            <label>First Name</label>
          </div>
          <div class="input-box">
            <input type="text" required />
            <label>Last Name</label>
          </div>
          <div class="input-box">
            <input type="email" required />
            <label>Email</label>
          </div>
          <div class="input-box">
            <input type="password" required />
            <label>Password</label>
          </div>
          <div class="input-box">
            <input type="password" required />
            <label>Confirm Password</label>
          </div>
          <button type="submit" class="btn">Create Account</button>
        </form>
      </div>
    </div>
  </body>
</html>
