<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Problem Details</title>
    <link rel="stylesheet" th:href="@{/css/problempageStyle.css}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/theme/dracula.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/mode/clike/clike.min.js"></script>
  </head>
  <body>
    <div class="problem-container">
      <div class="problem-title" th:text="${problem.title}">
        A. Boy or Girl
      </div>
      <div class="problem-meta">
        <span th:text="${problem.difficulty}">Difficulty</span> |
        <span th:text="${problem.language}">Language</span> |
        <span th:text="${#temporals.format(problem.date, 'yyyy-MM-dd')}"
          >Date</span
        >
      </div>

      <div class="second-container">
        <div class="problem-statement" >
          <p th:utext="${problem.statement}">Those days, many boys use beautiful girls' photos as avatars in forums. So it is pretty hard to tell the gender of a user at the first glance. Last year, our hero went to a forum and had a nice chat with a beauty (he thought so). After that they talked very often and eventually they became a couple in the network.

            But yesterday, he came to see "her" in the real world and found out "she" is actually a very strong man! Our hero is very sad and he is too tired to love again now. So he came up with a way to recognize users' genders by their user names.
            
            This is his method: if the number of distinct characters in one's user name is odd, then he is a male, otherwise she is a female. You are given the string that denotes the user name, please help our hero to determine the gender of this user by his method.
          </p>
        </div>

        <textarea  id="editor">
int main() { return 0; }</textarea
        >
      </div>

      <button class="green-button" onclick="sendSubmission()">Submit</button>

    </div>

    
    <script src="problem.js"></script>
  </div>

</body>
    <script src="/js/problem.js"></script>
  </body>
</html>
